body {
  font-family: 'Russo One', sans-serif;
  font-size: 16px;
  background: #b6b5e2a6;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  background-color: #232c4e;
  color: white;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #7a7a7a;
  color: white;
}

.present {
  background-color: yellow;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn i:hover {
  font-size: 40px;
  transition: all 0.7s ease-in-out;

}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.btn {
  background-color: #e2aef6e8;
  border: black 1px solid;
}

/* overwrites SCSS's properties */
.lead {
  font-size: 19px;
  color: #ce8400;
}

.display-3 {
  font-size: 75px;
  background-image: linear-gradient(43deg,
      #002bff 0%,
      #c6c6c6 46%,
      #f9a000 100%);
  color: transparent;
  -webkit-background-clip: text;
}

/* affects properties of save icon */
.fas {
  font-size: x-large;
}

#color-code {
  display: flex;
  justify-content: center;
  font-size: 35px;
  padding-bottom: 20px;
}

#future-green {
  color: #77dd77;
}

#present-yellow {
  color: rgb(255, 255, 70);
}

#past-grey {
  color: #7a7a7a;
}